:root {
  --main-bg-color: rgba(255, 255, 255, 30%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://c0.wallpaperflare.com/preview/416/337/233/weather-news-reporter-man.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 10px;
  padding: 10px;
}

.addForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  background: var(--main-bg-color);
  border-bottom: var(--main-border);
}

.addForm h3 {
  font-size: 1.5rem;
  margin: 0 10px;
}

#cityName {
  border-radius: 3px;
  font-size: 1.1rem;
  padding-left: 5px;
}

.addForm button {
  font-size: 1rem;
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 4px;
}

.addForm button:hover {
  background-color: rgb(193, 193, 193);
}

.errorCityField {
  border-color: red;
}

.errorField {
  font-size: 1.3rem;
  color: red;
  width: 100%;
  padding: 10px 0px 0px 250px;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0px;
  background: var(--main-bg-color);
}

.weatherInfo {
  position: relative;
  display: inline-block;
  text-align: center;
  min-width: 15%;
  height: auto;
  margin: 10px 40px;
  padding: 5px 10px;
  border: var(--main-border);
  --main-border: 1px solid #2d2d2d;
  border-radius: 5px;
  background-color: var(--main-bg-color);
}

.currentLocation {
  --main-border: 1px solid #be9f5a;
  background-color: rgba(167, 154, 45, 0.3);
}

.currentLocation h2::after {
  content: " (current)";
}

.weatherMain,
.temperature,
.wind {
  margin-top: 3px;
  border-top: var(--main-border);
}

.removeBtn {
  background-color: red;
  color: white;
  font-size: 1rem;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
}

.removeBtn:hover {
  background-color: rgb(250, 93, 93);
}

button:active {
  transform: scale(0.95);
}

img {
  background-color: #467988;
  border-radius: 50%;
}
